/.idea/$PRODUCT_WORKSPACE_FILE$
/.idea/codeStyles/codeStyleConfig.xml
/.idea/git_toolbox_prj.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/ProjectAngular.iml
/.idea/vcs.xml
