.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: wheat;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #b0a089;
}

.table-light>thead>tr>th{
  background: #8b8a8b;
}

#add-car-button {
  margin-left: 5%;
  margin-right: 5%;
}

table {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.delete-alert {
  position: fixed;
  z-index: 93123999;
  bottom: 40%;
  left: 39%;
  height: 150px;
  width: 350px;
  background-color: #7bd6ff;
  border: 6px solid #9f0000;
  border-radius: 10px;
}

.delete-alert h4 {
  text-align: center;
}

.delete-alert button {
  margin-left: 5px; margin-top: 50px;
}
