.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: #DCDCDC;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #8b8a8b;
}


.table-light>thead>tr>th{
  background: #808080;
}

#add-car-button {
  margin-left: 5%;
  margin-right: 5%;
}

table {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

table td:nth-of-type(1) {
  width: 100px;
}

table td {
  width: 150px;
}

.delete-alert {
  position: fixed;
  z-index: 93123999;
  bottom: 40%;
  left: 39%;
  height: 200px;
  width: 350px;
  background-color: #7bd6ff;
  border: 6px solid #5a82c5;
  border-radius: 10px;
}

.delete-alert h4 {
  margin-top: 40px;
  text-align: center;
}

.delete-alert button {
  margin-left: 5px; margin-top: 50px;
}

.action-button:hover {
  cursor: pointer;
}
