<h1 class="text-center">Cars</h1>
<button class="btn btn-primary" id="add-car-button" routerLink="{{'add/'}}">New Car</button>
<table class="table table-striped table-light text-center">
  <thead>
  <tr>
    <th>№</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
    <th>Year</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of cars | async; let i = index">
    <td>{{i + 1}}</td>
    <td>{{b.brand}}</td>
    <td>{{b.model}}</td>
    <td>{{b.price | currency: 'USD':'symbol': '.2-2'}}</td>
    <td>{{b.date | date:('yyyy')}}</td>
  </tbody>
</table>
