<h1 class="text-center">Cars</h1>
<button class="btn btn-primary" id="add-car-button" routerLink="{{'add/'}}">New Car</button>
<table class="table table-striped table-light text-center">
  <thead>
  <tr>
    <th>№</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
    <th>Year</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of pageOfItems; let i = index">
    <td>{{i + 1}}</td>
    <td>{{b.brand}}</td>
    <td>{{b.model}}</td>
    <td>{{b.price | currency: 'USD':'symbol': '.2-2'}}</td>
    <td>{{b.date | date:('yyyy')}}</td>
    <td>
      <mat-icon [routerLink]="['edit/', b.id]">create</mat-icon>
      <mat-icon (click)="openDeleteWindow(); carId = b.id">delete</mat-icon>
      <div *ngIf="deleteWindow" class="delete-alert">
        <h4>Delete this report?</h4>
        <button class="btn btn-primary" (click)="closeDeleteWindow()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteCar()">Yes</button>
      </div>
    </td>
  </tbody>
</table>

<div class="btn-group float-right mr-5">
  <jw-pagination pageSize="15" [items]="cars" (changePage)="onChangePage($event)"></jw-pagination>
</div>

<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true" bdOpacity=0.9
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Loading...</p>
</ngx-spinner>
