<h1 class="text-center">Cars</h1>
<button class="btn btn-primary" id="add-car-button" routerLink="{{'add-car/'}}">New Car</button>
<table class="table table-striped table-light text-center">
  <thead>
  <tr>
    <th>№</th>
    <th>Brand</th>
    <th>Model</th>
    <th>Price</th>
    <th>Year</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of pageOfItems; let i = index">
    <td>{{i + 1}}</td>
    <td>{{b.brand}}</td>
    <td>{{b.model}}</td>
    <td> ₴ {{b.price | currency: '': '': '.2-2'}}</td>
    <td>{{b.date | date:('yyyy')}}</td>
    <td>
      <mat-icon class="action-button" [routerLink]="['edit-car/', b.id]">create</mat-icon>
      <mat-icon class="action-button" (click)="openDialog(b)">delete</mat-icon>
    </td>
  </tbody>
</table>

<div class="btn-group float-right mr-5">
  <jw-pagination [items]="cars" (changePage)="onChangePage($event)"></jw-pagination>
</div>

<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true" bdOpacity=0.9
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Loading...</p>
</ngx-spinner>
