h1 {
  margin-top: 200px;
}

input {
  margin-left: 40%;
  width: 400px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

select {
  width: 400px;
}

.button {
  position: absolute;
  left: 53%;
}

.button button {
  margin-right: 10px;
}

span {
  color: red;
}

mat-spinner {
  position: absolute;
  left: 50%;
  top: 50%;
}
