.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: wheat;
}

.table-striped>tbody>tr:nth-child(even)>td,
.table-striped>tbody>tr:nth-child(even)>th {
  background-color: #b0a089;
}

.table-light>thead>tr>th{
  background: #8b8a8b;
}

h1 {
  margin-top: 30px;
}

table {
  position: relative;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
