<h1 class="text-center">Owners</h1>
<button class="btn btn-primary" id="add-car-button" routerLink="{{'../add-owner/'}}">New Owner</button>
<table class="table table-striped table-light text-center">
  <thead>
  <tr>
    <th>№</th>
    <th>Name</th>
    <th>Surname</th>
    <th>Age</th>
    <th>Email</th>
    <th>Cars</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let b of owners;let i = index">
    <td>{{i + 1}}</td>
    <td>{{b.name}}</td>
    <td>{{b.surname}}</td>
    <td>{{b.age}}</td>
    <td>{{b.email}}</td>
    <td>
      <div *ngFor="let c of cars;">
        <div *ngIf="c.ownerId === b.id">
          {{'Model: ' + c.model}}
          {{c.brand}}
          {{c.date | date:('yyyy')}}
        </div>
      </div>
    </td>
    <td>
      <mat-icon class="action-button" [routerLink]="['../edit-owner/', b.id]">create</mat-icon>
      <mat-icon class="action-button" (click)="openDeleteWindow(b.id)">delete</mat-icon>
      <div *ngIf="deleteWindow" class="delete-alert">
        <h4>Delete this owner?</h4>
        <button class="btn btn-primary" (click)="closeDeleteWindow()">Cancel</button>
        <button class="btn btn-danger" (click)="deleteOwner()">Yes</button>
      </div>
    </td>
  </tbody>
</table>

<div class="btn-group float-right mr-5">
  <jw-pagination [items]="cars" (changePage)="onChangePage($event)"></jw-pagination>
</div>

<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true" bdOpacity=0.9
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Loading...</p>
</ngx-spinner>
