<h1 class="text-center" *ngIf="create">Create Car</h1>
<h1 class="text-center" *ngIf="edit">Edit Car</h1>

<form (ngSubmit)="onSubmit()" class="text-center mx-auto" [formGroup]="form" *ngIf="!carCreated && !carEdited">
  <div class="form-group">
    <label for="SelectBrand">Brand</label>
    <br>
    <select class="custom-select" id="SelectBrand" formControlName="selectBrand">
      <option *ngFor="let c of car.brands;" name="brand"
              class="form-control mx-auto">{{ c }}</option>
    </select>
  </div>
  <div class="form-group">
    <label for="InputModel">Model</label>
    <input type="text" class="form-control mx-auto" id="InputModel" name="model"
           placeholder="Enter car model" formControlName="inputModel">
    <div *ngIf="form.controls.inputModel.invalid && form.controls.inputModel.touched
                && !(form.controls.inputModel.errors.maxlength)">
      <span>Car model cannot be empty</span>
    </div>
    <div *ngIf="form.controls.inputModel.invalid && form.controls.inputModel.errors.maxlength">
      <span>Car cannot be more than {{form.controls.inputModel.errors.maxlength.requiredLength}} characters.
        Actual {{form.controls.inputModel.errors.maxlength.actualLength}}</span>
    </div>
  </div>
  <div class="form-group">
    <label for="InputPrice">Price</label>
    <input type="number" class="form-control mx-auto" name="0" id="InputPrice"
           placeholder="Enter car price" formControlName="inputPrice">
    <div
      *ngIf="form.controls.inputPrice.invalid && form.controls.inputPrice.touched
              && form.controls.inputPrice.value === ''">
      <span>Price cannot be empty</span>
    </div>
    <div
      *ngIf="form.controls.inputPrice.invalid && form.controls.inputPrice.touched
              && form.controls.inputPrice.value < 0">
      <span>Price cannot be negative</span>
    </div>
    <div
      *ngIf="form.controls.inputPrice.invalid && form.controls.inputPrice.touched
              && form.controls.inputPrice.errors.max">
      <span>Price cannot be more than {{ form.controls.inputPrice.errors.max.max}}$</span>
    </div>
    <div
      *ngIf="form.controls.inputPrice.invalid && form.controls.inputPrice.touched
              && form.controls.inputPrice.errors.min">
      <span>Price cannot be less than {{ form.controls.inputPrice.errors.min.min}}$</span>
    </div>
  </div>
  <div class="form-group">
    <label for="InputYear">Year</label>
    <input type="date" class="form-control mx-auto" name="data" id="InputYear"
           placeholder="Enter car year" formControlName="inputYear">
    <div
      *ngIf="form.controls.inputYear.invalid && form.controls.inputYear.touched
              && form.controls.inputYear.value === ''">
      <span>Year cannot be empty</span>
    </div>
    <div *ngIf="!(form.controls.inputYear.value === '')
                  && form.controls.inputYear.touched
                  && form.controls.inputYear.hasError('restrictedYear')">
      <span>Year cannot be more 2020 and less 1900</span>
    </div>
  </div>
  <div class="form-group">
    <label for="selectOwner">Owner</label>
    <br>
    <select class="custom-select" id="selectOwner" formControlName="selectOwner">
      <option class="form-control mx-auto"></option>
      <option *ngFor="let c of owners;" name="owner"
              class="form-control mx-auto" value="{{c.id}}">{{ c.name + ' ' + c.surname }}</option>
    </select>
  </div>
  <div class="button">
    <button type="button" class="btn btn-primary" *ngIf="create" routerLink="../">Back</button>
    <button type="button" class="btn btn-primary" *ngIf="edit" routerLink="../../">Back</button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Submit</button>
  </div>
</form>

<div class="text-center success mx-auto" *ngIf="carCreated">
    <ngb-alert class="text-center" [dismissible]="false" [type]="'success'">
      <h3>Car created successfully</h3>
      <button class="btn btn-primary" routerLink="../">Back to table</button>
      <button class="btn btn-primary" (click)="carCreated = false">Add more</button>
    </ngb-alert>
</div>

<div class="text-center success mx-auto" *ngIf="carEdited">
  <ngb-alert class="text-center" [dismissible]="false" [type]="'success'">
    <h3>Car editing successfully</h3>
    <button class="btn btn-primary" routerLink="/">Back to table</button>
  </ngb-alert>
</div>

<ngx-spinner type="ball-spin-clockwise-fade"
             [fullScreen]="true" bdOpacity=0.9
             bdColor="#333"
             size="medium"
             color="#fff">
  <p style="color: white">Please wait</p>
</ngx-spinner>
